<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/list.js}"></script>
</head>
<body>
<section>
    <div class="pull-right" style="padding-right:50px">
        <a th:href="@{/market/products}">Products</a>|<a th:href="@{/cart}">Shopping Cart</a>
    </div>
</section>
<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Products</h1>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-5">

            <form action="#" th:action="@{/addproduct}" th:object="${product}"
                  method="post" enctype="multipart/form-data">
                <fieldset>
                    <!--             <span th:text="#{product.form.title}"><strong>Add a new Product</strong></span>-->
                    <!--                <ul th:if="${#fields.hasErrors('*')}">-->
                    <!--                <li th:each="err : ${#fields.errors('*')}" th:text="${err}" >Input is incorrect</li>-->
                    <!--                 </ul>-->

                    <p><label for="name"><span th:text="#{product.form.name}">Product Name:</span></label> <input type="text" th:field="*{name}"/></p>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="fieldError">Incorrect data</p>


                    <div class="custom-control custom-radio custom-control-inline">
                      <h7><strong>SaveStatus</strong></h7> <br>    <input type="radio" id="option1" name="option1" class="custom-control-input" value="0" th:field="*{status}">
                        <label class="custom-control-label" for="option1">WithRelease</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="option2" name="option2" class="custom-control-input" value="1" th:field="*{status}">
                        <label class="custom-control-label" for="option2">WithoutRelease</label>
                    </div>


                    <p th:if="${#fields.hasErrors('status')}" th:errors="*{status}" th:errorclass="fieldError">Incorrect data</p>

                    <p><label for="price"><span th:text="#{product.form.price}">Price:</span></label> <input type="text" th:field="*{price}"/></p>
                    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:errorclass="fieldError">Incorrect data</p>
                    <p><label for="mile"><span th:text="#{product.form.mile}">Mile:</span></label> <input type="text" th:field="*{mile}"/></p>
                    <p th:if="${#fields.hasErrors('mile')}" th:errors="*{mile}" th:errorclass="fieldError">Incorrect data</p>
                    <p><label for="caption"><span th:text="#{product.form.caption}">Caption:</span></label> <input type="text" th:field="*{caption}"/></p>
                    <p th:if="${#fields.hasErrors('caption')}" th:errors="*{caption}" th:errorclass="fieldError">Incorrect data</p>

                    <p><label for="description"><span th:text="#{product.form.description}">Description:</span></label> <input type="text" th:field="*{description}"/></p>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:errorclass="fieldError">Incorrect data</p>
<!--                    <p><label for="image"><span th:href="#{product.form.image}">Image: </span></label></p><inpt type="img" th:field="*{image_path}"/></p>-->
                    Images: <form id="uploadImage" name="uploadImage" method="post" th:action=@{/uploadFiles} encType="multipart/form-data">
                    <input type="file" name="files" multiple/>
                    <!--<img src="images/corolla.jpg"/>-->
                </fieldset>


                <p id="buttons">
                    <input id="reset" type="reset" th:value="#{product.form.resetbtn}" value="reset " tabindex="4"> <input
                        id="submit" type="submit" tabindex="5" th:value="#{product.form.addbtn}" value="Add Product">

                    <!--              <a th:href="@{/market/products}" class="btn btn-default">-->
                    <!--                  <span class="glyphicon-hand-left glyphicon"></span> Back-->
                    <!--              </a>-->
                    <!--              <a href="#" class="btn btn-warning btn-large order-btn" th:data="${product.productId}">-->
                    <!--                  <span class="glyphicon-shopping-cart glyphicon"></span> Order Now </a>-->


                </p>
                </fieldset>
            </form>
        </div>s

</body>
</html>