
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

<section>
    <div class="pull-right" style="padding-right:50px">
        <a href="/market/products">Products</a>|<a href="/cart">Shopping Cart</a>
    </div>
</section>
<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Products</h1>
            <p>All the available products in our store</p>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Electronics</h3>
                    <p>Laptops phone Tvs</p>
                    <p>Available in a stock</p>
                    <p>
                        <a href="/market/product?id=P1234" class="btn btn-primary">
                            <span class="glyphicon-info-sign glyphicon"/></span> Details
                        </a>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Clothes</h3>
                    <p>shirts jackets trousers</p>
                     <p>Availablein stock</p>
                    <p>
                        <a href="/market/product?id=P1235" class="btn btn-primary">
                            <span class="glyphicon-info-sign glyphicon"/></span> Details
                        </a>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Foods</h3>
                    <p>Vegetables fruits </p>
                     <p>Available stock</p>
                    <p>
                        <a href="/market/product?id=P1236" class="btn btn-primary">
                            <span class="glyphicon-info-sign glyphicon"/></span> Details
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>