<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<div id="global">
    <h4>The product details have been saved.</h4>
    <p>
    <h5>Product:</h5>
    Product name:<span th:text="${product.name}"></span><br/>
    Product Price:
    Product status:<span th:text="${product.status}"></span><p/>
    Description: <span th:text="${product.description}"></span><p/>
<!--    <div th:with="path=${product.image_path}">-->
<!--        <span th:text="${path}"></span><p/>-->
        <img th:src="@{${'/images/'+ product.image_path}}" th:height="50px" th:width="30px">

    </p>
</div>

</body>
</html>