<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>The winning bidding list</title>
    <meta charset="UTF-8">
    <title>Cart</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/cart.js}"></script>
</head>
<body>

<section>
    <div class="jumbotron">
        <div class="container">
            <h1><span th:text="#{bidding.list.title}"> List of Biddings</span></h1>
        </div>
    </div>
</section>


<section class="container">
    <div>
        <form action="#" th:action="@{/bidding/biddings}" method="get">
            <label><span>Month: </span></label>
            <select name="month" th:width="6">
                <option value="0" th:text="All" selected></option>
                <option th:each="month : ${months}" th:value="${month.intValue()}" th:text="${month.intValue()}"></option>
            </select> &nbsp&nbsp&nbsp
            <label>Year:</label>
            <select name="year" th:width="12">
                <option value="0" th:text="All" selected> </option>
                <option th:each="year:${years}" th:value="${year.intValue()}" th:text="${year.intValue()}"></option>
            </select>
            <input type="submit" value="Search">
        </form>

        <table class="table table-hover">
            <tr>
                <th style="text-align:left"><span th:text="#{winbidding.list.id}">ID</span></th>
                <th style="text-align:left"><span th:text="#{winbidding.list.product}">Product</span></th>
                <th style="text-align:left"><span th:text="#{winbidding.list.startprice}">Start Price</span></th>
                <th style="text-align:left"><span th:text="#{winbidding.list.finalprice}">Final Price</span></th>
                <th style="text-align:left"><span th:text="#{winbidding.list.deposit}">Deposit</span></th>
                <th style="text-align:left"><span th:text="#{winbidding.list.startdate}">Closed Date</span></th>
                <th style="text-align:left"><span th:text="#{winbidding.list.closeddate}">Closed Date</span></th>
                <th style="text-align:left"><span th:text="#{winbidding.list.paymentduedate}">Payment Due Date</span></th>
                <th style="text-align:left"><span th:text="#{winbidding.list.action}"></span></th>
            </tr>
        </table>
        <table id="cart_table" class="table table-hover">
            <tr th:each="item: ${allbiddings}">
                <td th:text="${item.bidding_id}"></td>
                <td th:text="${item.product.name}"></td>
                <td th:text="${#numbers.formatCurrency(item.start_price)}"></td>
                <td th:text="${#numbers.formatCurrency(item.finalprice)}" ></td>
                <td th:text="${#numbers.formatCurrency(item.deposit)}"></td>
                <td th:text="${item.startdate}"></td>
                <td th:text="${item.duedate}"></td>
                <td th:text="${item.payment_duedate}"></td>
                <td>
                   <a th:href="@{/bidding/activities/{id}(id=${item.bidding_id})}" class="label label-danger product-remove-btn">
                        <span class="glyphicon glyphicon-remove" ></span> Details
                   </a> &nbsp;&nbsp;&nbsp;
                    <span th:if="${(item.winner != null) && (item.status <= 1)}">
                       <a th:href="@{/bidding/paymentform/{id}(id=${item.bidding_id})}" class="label label-danger product-remove-btn">
                            <span class="glyphicon glyphicon-remove" ></span> Payment
                       </a>&nbsp;
                    </span>&nbsp;&nbsp;&nbsp;
                    <span th:if="${item.status >= 2}">
                       <a th:href="@{/bidding/invoice/{id}(id=${item.bidding_id})}" class="label label-danger product-remove-btn">
                            <span class="glyphicon glyphicon-remove" ></span> Invoice
                       </a>&nbsp;
                    </span>&nbsp;&nbsp;&nbsp;

                </td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>