<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<html>
<head>
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>
This WelcomePage!
 <div class="jumbotron">
    <h1 th:text="${wel}"/> </h1>
     <h1 th:text="${come}"/></p>
     <img src="images/corolla.jpg"/>
     <img src="images/corolla.jpg"/>


 </div>



</form>
</body>
</html>